/*PEN STYLES*/

* {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
}

$color_white: #ffd5c2;
$color_white: #efefef;
$color_prime: #666867;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
  margin-bottom: 1.6%;
  background: $color_white;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  a {
    color: inherit;
    &:hover {
      color: $color_prime;
    }
  }
  &:hover {
    .photo {
      transform: scale(1.3) rotate(3deg);
    }
  }
  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s;
  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left 0.2s;
    background: rgba(#000, 0.6);
    color: $color_white;
    padding: 10px;
    width: 100%;
    font-size: 0.9rem;
    a {
      text-decoration: dotted underline;
    }
    ul li {
      display: inline-block;
    }
    .author:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f007";
    }

    .date:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f133";
    }

    .tags {
      ul:before {
        font-family: FontAwesome;
        content: "\f02b";
        margin-right: 10px;
      }
      li {
        margin-right: 2px;
        &:first-child {
          margin-left: -4px;
        }
      }
    }
  }
  .description {
    padding: 1rem;
    background: $color_white;
    position: relative;
    z-index: 1;
    h1,
    h2 {
      font-family: Poppins, sans-serif;
    }
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
    }
    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $color_grey_dark;
      margin-top: 5px;
    }
    .read-more {
      text-align: right;
      a {
        text-decoration: none;
        color: $color_prime;
        display: inline-block;
        position: relative;
        &:after {
          content: "\f061";
          font-family: FontAwesome;
          margin-left: -10px;
          opacity: 0;
          vertical-align: middle;
          transition: margin 0.3s, opacity 0.3s;
        }

        &:hover:after {
          margin-left: 5px;
          opacity: 1;
        }
      }
    }
  }
  p {
    position: relative;
    margin: 1rem 0 0;
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        content: "";
        position: absolute;
        height: 5px;
        background: $color_prime;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
      }
    }
  }
  &:hover {
    .details {
      left: 0%;
    }
  }

  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 700px;
    .meta {
      flex-basis: 40%;
      height: auto;
    }
    .description {
      flex-basis: 60%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: $color_white;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg);
        }
      }
      .details {
        padding-left: 25px;
      }
    }
  }
}

#blog-title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: -0.4px;
}
#blog-content {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-family: Noto Sans;
}
#blog-subtitle {
  font-family: Noto Sans;
  font-style: italic;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.blog-container {
  background: linear-gradient(-45deg, #a4e0fa 50%, #f88367 50%);
  height: auto;
  min-height: 100vh;
  padding-top: 15px;
  padding-bottom: 30px;
}
.create-container {
  background-color: rgba($color: #000000, $alpha: 0.75);

  width: calc(100vw - 150px);
  height: auto; // auto sau
  border-radius: 20px;
  padding-bottom: 50px;

  position: absolute;
  top: 125px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease-out;
}
.create-quote {
  // position: absolute;
  // left: 50%;
  // transform: translateX(-50%);
  margin-top: 50px;
  color: #e2e2e2;
}

//=======================================CREATE FORM ========================================//

.create {
  color: #e2e2e2;
  $form_size: 50vw;
  &-menu {
  }

  &-form {
    opacity: 1;
    // position: absolute;
    // left: 50%;
    // top: 145px;
    // transform: translateX(-50%);
    width: $form_size;
  }
  &-title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-top: 5px;
    margin-bottom: 5px;
  }
  &-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  &-thumbnail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  &-submit {
    background-color: transparent;

    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    button {
      background-color: transparent;
      padding: 0.35em 1.2em;
      border: 0.2em solid #ffffff;
      margin: 0 0.3em 0.3em 0;
      border-radius: 0.22em;

      font-weight: 500;
      color: #ffffff;
      text-align: center;
      transition: all 0.2s;

      height: 50px;
      width: 300px;
      &:hover {
        color: #000000;
        background-color: #ffffff;
      }
    }
  }
}
.input {
  &-title {
    background-color: transparent;
    width: 100%;
    height: auto;
    margin-bottom: 10px;

    font-size: 25px;
    font-weight: 600;
    color: #e1e5ee;
    outline: none;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    border: 3px solid #e2e2e2;
    border-radius: 0.5rem;
    &:hover {
      border-color: #adffff;
    }
    &:focus {
      border-color: #adffff;
    }
  }
  &-subtitle {
    background-color: transparent;
    width: 100%;
    height: auto;
    margin-bottom: 10px;

    font-size: 25px;
    font-weight: 600;
    color: #e1e5ee;
    outline: none;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    border: 3px solid #e2e2e2;
    border-radius: 0.5rem;
    &:hover {
      border-color: #adffff;
    }
    &:focus {
      border-color: #adffff;
    }
  }
  &-content {
    background-color: transparent;
    width: 100%;
    height: auto;
    min-height: 70px;
    max-height: 500px;
    overflow: hidden;
    margin-bottom: 10px;

    font-size: 25px;
    font-weight: 600;
    color: #e1e5ee;
    outline: none;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    border: 3px solid #e2e2e2;
    border-radius: 0.5rem;
    &:hover {
      border-color: #adffff;
    }
    &:focus {
      border-color: #adffff;
    }
  }
  &-url {
    background-color: transparent;
    width: 100%;
    height: auto;
    margin-bottom: 10px;

    font-size: 25px;
    font-weight: 600;
    color: #e1e5ee;
    outline: none;

    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    border: 3px solid #e2e2e2;
    border-radius: 0.5rem;
    &:hover {
      border-color: #adffff;
    }
    &:focus {
      border-color: #adffff;
    }
  }
}

.detail {
  &-container {
    background-color: rgba($color: #ffffff, $alpha: 0.75);

    width: 100vw;
    height: auto; // auto sau
    border-radius: 20px;
    padding-bottom: 50px;

    position: absolute;

    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: all 0.2s ease-out;
  }
}
.detail {
  &-content {
    display: flex;
    flex-direction: column;

    //===========================//
  }
  $max_width: 1400px;
  &-menu {
  }
  &-layout {
    margin-top: 50px;
    opacity: unset;

    width: 100%;
    //========//paper effect here
    .background {
      z-index: -1;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #9bb8b3; /* Old browsers */
      background: -moz-linear-gradient(top, #9bb8b3 0%, #b3eee2 100%); /* FF3.6+ */
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, #9bb8b3),
        color-stop(100%, #b3eee2)
      ); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #9bb8b3 0%, #b3eee2 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #9bb8b3 0%, #b3eee2 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #9bb8b3 0%, #b3eee2 100%); /* IE10+ */
      background: linear-gradient(to bottom, #9bb8b3 0%, #b3eee2 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bb8b3', endColorstr='#b3eee2',GradientType=0 ); /* IE6-9 */
    }

    .paper {
      width: 60vw;
      height: auto;
      min-height: 60em;

      background: #e8e8ea; /* Old browsers */
      background: -moz-linear-gradient(top, #e8e8ea 0%, #efefef 100%); /* FF3.6+ */
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, #e8e8ea),
        color-stop(100%, #efefef)
      ); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #e8e8ea 0%, #efefef 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #e8e8ea 0%, #efefef 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #e8e8ea 0%, #efefef 100%); /* IE10+ */
      background: linear-gradient(to bottom, #e8e8ea 0%, #efefef 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8ea', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */

      margin: auto;

      border-radius: 2px;
      border-left: 2px solid #f5f5f7;
      border-bottom: 2px solid #f5f5f7;
      border-right: 1px solid #adc0bc;
      border-top: 1px solid #f4f4f6;

      box-shadow: 0 0 2px 0 #f4f4f6 inset, 0em 100px 500px -5px rgba(255, 255, 255, 0.5),
        -1em 1em 3em 1em rgba(255, 255, 255, 0.2), -5em 1em 30em 1em rgba(255, 255, 255, 0.2),
        0em 2px 0 rgba(255, 255, 255, 0.7), 0em 10px 50px -10px rgba(255, 255, 255, 1), 1.2em -0.8em 2em 0em #044134,
        5.5em -1em 50em 0em #044134, 0px -5px 25px 0px #808f8c;

      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;

      backface-visibility: hidden;
    }

    .paper:hover {
      -webkit-transform: scale(0.987);
      -moz-transform: scale(0.987);
      -ms-transform: scale(0.987);
      -o-transform: scale(0.987);
      transform: scale(0.987);
    }

    h1 {
      margin-bottom: 50px;
      color: #111;
      font-weight: normal;
      text-align: center;
      text-shadow: 0 0px 20px #eee;
    }

    a {
      text-decoration: none;
      color: #ff0066;
      transition: all 0.5s ease;
      display: inline-block;
      border-bottom: 1px solid white;
    }

    a:hover {
      border-bottom: 1px solid black;
    }
  }
  &-title {
    width: 100%;
    font-size: 50px;
    font-family: Montserrat;
    font-weight: bold;
    text-align: justify;

    margin-bottom: 20px;
    margin-top: 50px;
    justify-items: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  &-thumbnail {
    height: auto;
    width: auto;
    max-width: 80%;
    border-radius: 4px;
    align-self: center;
  }
  &-writting {
    font-family: "Noto Sans";
    width: 100%;
    font-size: 36px;
    white-space: pre-wrap;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    text-align: justify;
    word-wrap: break-word;
  }
}
//===============================ABOUT SITE=====================================//
$about-height: 700px;
.about {
  &-page {
    width: 100%;
    height: 100%;
    margin-top: -30px;
    background-color: rgb(240, 237, 230);
    padding-bottom: 50px;
    min-height: 100vh;
  }
  &-layout {
    background-color: transparent;
    border: #000 2px solid;
    width: 45vw;
    height: 100%; // auto sau
    border-radius: 5px;
    padding: 0px, 40px;
    margin-top: 50px;

    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &-content {
  }
  &-us {
    font-family: "Bebas Neue";
    font-size: 2rem;
    text-align: justify;
    color: #000;
    margin: 50px;
  }
  &-title {
    margin-top: 15%;
    font-family: "Bebas Neue";
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    color: #000;
    font-size: 4rem;
  }
  &-social {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 75px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
#social-test {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  h2 {
    color: #000;
    font-size: 2.5rem;
    font-family: "Bebas Neue", "Trebuchet MS", Arial, sans-serif;
    font-weight: 100;
  }
  .social {
    padding-left: 0px;
  }
  li {
    &a{text-decoration: none;}
    color: rgba(255, 60, 120, 0.6);
    list-style-type: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    padding: 1%;
    border: 1px solid rgba(255, 60, 120, 0.4);
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 20px;
    transition: ease 0.3s;
    &:hover {
      color: rgba(255, 60, 120, 1);
      border: 1px solid rgba(255, 60, 120, 1);
    }
  }
}

.social:hover > li {
  opacity: 0.5;
}

.social:hover > li:hover {
  opacity: 1;
}

#detail-subtitle {
  font-size: 28px;
  font-family: Noto Sans, sans-serif;

  color: #a2a2a2;

  width: auto;
  text-align: justify;
  h4 {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    font-size: 2rem;
    font-style: italic;
  }
  padding-top: 30px;
}
