<div class="about-layout">
    <div class="about-border"> </div>
        <div class="about-content">
            <span class="about-title">Who We Are</span>
            <br>
            <p class="about-us"> All we are a group of fpt university student whose major is about information
                technology however entire WE HAVE A enthusiasm IN learning about psychology, anthropology. With the
                amplitude of erudition already , we decided to do something serviceable for community when we
                apperceived
                the
                paramount role of psychology to it.</p>


            <div class="about-social">
                <div id="social-test">
                    <h2>FIND US ON</h2>
                    <ul class="social">
                        <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                        <li><i class="fa fa-twitter" aria-hidden="true"></i>
                        </li>
                        <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
                        <li><i class="fa fa-vimeo" aria-hidden="true"></i>
                        </li>
                        <li><i class="fa fa-behance" aria-hidden="true"></i></li>
                        <li><i class="fa fa-dribbble" aria-hidden="true"></i>
                        </li>
                        <li><i class="fa fa-github" aria-hidden="true"></i>
                        </li>
                        <li><i class="fa fa-pied-piper" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
   
</div>