<div class="mt-10">
    <form class="row row-cols-lg-auto g-3 align-items-center" action="" method="POST">
        <div class="col-6">
            <label class="visually-hidden" for="inlineFormInputGroupUsername">Search</label>
            <div class="input-group">
                <div class="input-group-text">Search</div>
                <input type="text" name="name" class="form-control" id="inlineFormInputGroupUsername"
                    placeholder="Keyword...">
            </div>
        </div>


        <div class="col-6">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>